$col-bg-footer: #7a7a7a;
$col-bg-body: #e0e0e0;
$col-text: black;

main {
  height: 100vh;

  mat-grid-list#content {
    background: $col-bg-body;
    height: inherit;

    #main-navbar{
      height: 100%;
      width: 100%;
      margin: 0;

      span{
        padding: 0 0.75em;
      }

      button{
        margin-left: 0.5em;
      }
    }

    mat-grid-tile{
      background: lightblue;
      color: $col-text;
    }

    #footer{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 0.7em;

      background: $col-bg-footer;
      color: white;
    }
  }
}
