@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$col-bg-body: #e0e0e0;
$col-bg-footer: #818181;
$col-text: white;

*{
  box-sizing: border-box;
}

html, body{
  color: white;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

header{
  flex-shrink: 0;
  height: 3em;
  padding: 0;

  .main-navbar{
    height: 100%;
    width: 100%;
    margin: 0;

    .spacer{
      flex: 1 1 auto;
    }

    span{
      padding: 0 0.75em;
    }
  }
}

main {
  flex: 1 0 auto;
  color: $col-text;

  .content{
    background: $col-bg-body;
    height: calc(100vh - 5em);

    mat-grid-tile{
      background: lightblue;
      color: black
    }

    #graph-container{
      height: 100%;
      width: 100%;

      padding: 1em;
    }

    #console{
      background: rgb(47, 47, 77);
      color: white;
    }

    #controls{
      background: rgb(152, 152, 243);
      color: gray;

      button{
        margin-right: 2px;
      }
    }
  }
}

footer{
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.7em;

  height: 2em;
  background: $col-bg-footer;
  color: $col-text;
}
