<h1 mat-dialog-title>Graphs</h1>
<mat-dialog-content>
  <label>Choose a graph:</label>
  <form [formGroup] = "graphsForm" (ngSubmit) = "onSubmit()">
    <mat-radio-group *ngIf = "files$" formControlName = "chosenGraphFile">
      <mat-radio-button *ngFor="let file of files$ | async" value = {{file.fileLoc}}>
          {{file.displayName}} <span> {{file.desc}} </span>
      </mat-radio-button>
    </mat-radio-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    (click) = "onSubmit()"
    [disabled]="graphsForm.invalid"
    [mat-dialog-close] = "true"
    type="submit"
    cdkFocusInitial>Confirm
  </button>
  <app-uploader></app-uploader>
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
