<div class="container">
  <h3>Algorithms</h3>
  <mat-form-field>
    <mat-label>Select an algorithm</mat-label>
    <mat-select disableOptionCentering [(value)]="selected">
      <mat-option value="simpleGreedy">Simple Greedy</mat-option>
      <mat-option value="dSatur">DSatur</mat-option>
      <mat-option value="tabuCol">TabuCol</mat-option>
      <mat-option value="partCol">PartialCol</mat-option>
      <mat-option value="hea">HybridEvolutionary</mat-option>
      <mat-option value="dSaturBT">DSatur Backtracking</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="spacer"></span>
  <div class="button-box">
    <button mat-raised-button (click) = sendColoring() color="primary"> Color </button>
    <button mat-raised-button (click) = sendColoring(true) color="warn"> Reset </button>
  </div>
</div>
